.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Colores para cada óvalo */
.project-calculo {
    background-color: #4caf50; /* Verde */
}

.project-convertidor {
    background-color: #2196f3; /* Azul */
}

.project-menu {
    background-color: #ff5722; /* Naranja */
}